# Introduction Pandas

`pandas` is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way towards this goal.

Prerequisite :
- Numpy

## Import pandas (and Numpy)

Note: it is conventional to refer to `pandas` as `pd`.   
When you add the `as pd` at the end of your import statement, your Jupyter Notebook understands that from this point on every time you type `pd`, you are actually referring to the pandas library.

In [1]:
import numpy as np
import pandas as pd

## Download the dataset

In [2]:
df = pd.read_csv('pandas_tutorial_read.csv')

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function `head()` to see the first couple rows of the dataframe (or the function `tail()` to see the last few rows).

In [3]:
df.head()

     ins     type_entity           entity      period  value
0   3000          Région         Wallonie  01/01/2019  215.0
1  20002        Province   Brabant Wallon  01/01/2019  367.9
2  25000  Arrondissement         Nivelles  01/01/2019  367.9
3  25005         Commune      Beauvechain  01/01/2019  187.8
4  25014         Commune  Braine-l'Alleud  01/01/2019  764.8

In [4]:
df.tail()

       ins type_entity         entity      period  value
286  93018     Commune        Doische  01/01/2019   35.6
287  93022     Commune      Florennes  01/01/2019   84.3
288  93056     Commune  Philippeville  01/01/2019   59.0
289  93088     Commune       Walcourt  01/01/2019  149.1
290  93090     Commune      Viroinval  01/01/2019   46.7

We can see the dimensions of the dataframe using the the `shape` attribute, like in Numpy.

In [5]:
df.shape

(291, 5)

We can also extract all the column names as a list, by using the `columns` attribute and can extract the rows with the `index` attribute

In [12]:
print(df.columns.tolist())
print(df.columns)
print(df.index)

['ins', 'type_entity', 'entity', 'period', 'value']
Index(['ins', 'type_entity', 'entity', 'period', 'value'], dtype='object')
RangeIndex(start=0, stop=291, step=1)

In order to get a better idea of the type of data that we are dealing with, we can call the `describe()` function to see statistics like mean, min, etc... about each column of the dataset.

In [13]:
df.describe()

                ins        value
count    291.000000   291.000000
mean   64080.941581   319.149828
std    19262.087619   428.431706
min     3000.000000    24.500000
25%    55019.500000    79.400000
50%    62096.000000   186.000000
75%    83020.500000   323.700000
max    93090.000000  3518.600000

Okay, so now let's look at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function `max()` will show you the maximum value accross all columns

In [14]:
df.max()

ins                 93090
type_entity        Région
entity             Étalle
period         01/01/2019
value              3518.6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [17]:
print(df['value'].max())
print(df['period'].max())

3518.6
01/01/2019

If you'd like to find the mean of the column `'value'`, you can use the `mean()` function.

In [18]:
df['value'].mean()

319.1498281786941

But what if that's not enough? Let's say we want to actually see the row where this max value is. We can call the `idxmax()` function to identify the row index

In [19]:
df['value'].idxmax()

144

One of the most useful functions that you can call on certain columns in a dataframe is the `value_counts()` function. It shows how many times each item appears in the column. This particular command shows the number of the same values.

In [21]:
#df['value'].value_counts()
df.value_counts()

ins    type_entity     entity                   period      value
57000  Arrondissement  Tournai-Mouscron         01/01/2019  312.6    2
55000  Arrondissement  Soignies                 01/01/2019  292.3    2
58000  Arrondissement  La Louvière              01/01/2019  642.8    2
3000   Région          Wallonie                 01/01/2019  215.0    1
64065  Commune         Saint-Georges-sur-Meuse  01/01/2019  325.3    1
                                                                    ..
58002  Commune         Binche                   01/01/2019  546.6    1
58003  Commune         Estinnes                 01/01/2019  105.9    1
58004  Commune         Morlanwelz               01/01/2019  935.7    1
60000  Province        Liège                    01/01/2019  287.0    1
93090  Commune         Viroinval                01/01/2019  46.7     1
Name: count, Length: 288, dtype: int64

In [ ]:
pd.read_csv('easy_pandas.csv')

# Acessing Values

Then, in order to get a particular row of the dataframe, we need to use the `iloc[]` function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per the Pandas documentation, iloc is an "integer-location based indexing for selection by position."
(If you ask yourself: *Why the double brackets ?*; It is explained further.)

In [ ]:
df.iloc[[df['value'].idxmax()]]

Let's take this a step further. Let's say you want to know the value of the column `'ins'` when the `'value'` column has its max.

In [ ]:
df.iloc[[df['value'].idxmax()]]['ins']

When you see data displayed in the above format, you're dealing with a Pandas `Series` object, not a dataframe object.

In [ ]:
type(df.iloc[[df['value'].idxmax()]]['ins'])

In [ ]:
type(df.iloc[[df['value'].idxmax()]])

The other really important function in Pandas is the `loc` function. Contrary to `iloc`, which is an integer based indexing, `loc` is a "Purely label-location based indexer for selection by label". Since all the rows are ordrered by the `ins` column, `loc` and `iloc` are going to be pretty interchangeable for this dataset.

In [ ]:
df.loc[:3]

Notice the slight difference in that **`iloc` is exclusive of the second number, while loc is inclusive**.

Below is an example of how you can use `loc` to achieve the same task as we did previously with `iloc`.

In [ ]:
df.loc[df['value'].idxmax(), 'ins']

A faster version uses the `at()` function. `at()` is really useful whenever you know the row label and the column label of the particular value that you want to get.

In [ ]:
df.at[df['value'].idxmax(), 'ins']

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **`iloc` looks at position** and **`loc` looks at labels**. `loc` becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order.

In [ ]:
df.sort_values('value').head()

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, we want to find all the rows where `'value'` is higher than 150. The idea behind this command is you want to access the column `'value'` of the dataframe df (`df['value']`), find which entries are above 150 (`df['value'] > 150`), and then returns only those specific rows in a dataframe format (`df[df['value'] > 150]`).

In [ ]:
df[df['value'] > 150]

This also works if you have multiple conditions. Let's say we want to find out when the values between two specific values, here 150 and 200.

In [ ]:
df[(df['value'] > 150) & (df['value'] < 200)]

# Grouping

Another important function in Pandas is `groupby` This is a function that allows you to group entries by certain attributes (e.g Grouping entries by `ins` number) and then perform operations on them.

In [ ]:
df.groupby('ins')['value'].mean().head()

This next command groups all the entities with the same value and finds how many times that specific entity appears on the group.

In [ ]:
df.groupby('value')['entity'].value_counts().head()

Each dataframe has a `values` attribute which is useful because it basically displays your dataframe in a numpy array style format

In [ ]:
df.values

Now, you can simply just access elements like you would in an array.

In [ ]:
df.values[0][0]

# Dataframe Iteration

In order to iterate through dataframes, we can use the `iterrows` function. Below is an example of what the first two rows look like. Each row in `df.iterrows()` is a `Series` object

In [ ]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [ ]:
df[['entity', 'value']].head()

Notice that you can achieve the same result by using the `loc` function. `loc` is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [ ]:
df.loc[:, ['entity', 'value']].head()

Note the difference is the return types when you use brackets and when you use double brackets.

In [ ]:
type(df['entity'])

In [ ]:
type(df[['entity']])

You've seen before that you can access columns through `df['col name']`. You can also access rows by using slicing operations.

In [ ]:
df[0:3]

Here's an equivalent using `iloc`

In [ ]:
df.iloc[0:3,:]

# Data Cleaning

One of the big jobs of doing well in [Kaggle competitions](https://www.kaggle.com/competitions) is the one of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following `isnull` function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [ ]:
df.isnull().sum()

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* `dropna()` - This function allows you to drop all(or some) of the rows that have missing values. 
* `fillna()` - This function allows you replace the rows that have missing values with the value that you pass in.

# Creating Kaggle Submission CSVs

This isn't directly Pandas related, but most people who use Pandas probably do a lot of Kaggle competitions as well. As you probably know, Kaggle competitions require you to create a CSV of your predictions. Here's some starter code that can help you create that csv file.

In [ ]:
import numpy as np
import csv

results = [[0,10],[1,15],[2,20]]
results = np.array(results)
print(results)

In [ ]:
firstRow = [['id', 'pred']]
with open("result.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(firstRow)
    writer.writerows(results)

The approach I described above deals more with python lists and numpy. If you want a purely Pandas based approach, take a look at this video: https://www.youtube.com/watch?v=ylRlGCtAtiE&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=22

# Other Useful Functions

* `drop()` - This function removes the column or row that you pass in (You also have the specify the axis). 
* `agg()` - The aggregate function lets you compute summary statistics about each group
* `apply()` - Lets you apply a specific function to any/all elements in a Dataframe or Series
* `get_dummies()` - Helpful for turning categorical data into one hot vectors.
* `drop_duplicates()` - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y